.chatpage-online-wrapper {
  position: relative;
  top: 200px;
  margin-bottom: 2rem;
  z-index: 5;
}

.chat-errormessage {
  font-family: var(--font-pixel);
  font-size: 12px;
  color: var(--color-sky-lunar);
  position: relative;
  padding: 10px;
  top: 400px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: start;
}

@media (min-width: 376px) and (max-width: 425px) {
  .chatpage-online-wrapper {
    position: relative;
    top: 200px;
    margin-bottom: 2rem;
    z-index: 5;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .chatpage-online-wrapper {
    position: relative;
    top: 200px;
    margin-bottom: 2rem;
    z-index: 5;
  }

    @media (min-width: 769px) and (max-width: 1024px) {
      .chatpage-online-wrapper {
        position: relative;
        top: 200px;
        margin-bottom: 2rem;
        z-index: 5;
      }
    }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
      .chatpage-online-wrapper {
        position: relative;
        top: 200px;
        margin-bottom: 2rem;
        z-index: 5;
      }
    }
  }