.logout-button {
    width: 100px;
    height: 25px;
    background-color: var(--color-sunset-lunar);
    color: black;
    font-family: var(--font-pixel);
    font-size: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 80px;
    z-index: 1003;
}