.logout-button {
    width: 100%;
    height: 20px;
    background-color: var(--color-sunset-lunar);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1003;
}

.logout-button p {
    color: white;
    font-size: 12px;
    font-family: var(--font-pixel);
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
cursor: pointer;
}