.startpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-sky-lunar);
    position: relative;
}

.rubrik {
    color: var(--color-sunset-lunar);
    font-family: var(--font-pixel);
    font-size: 40px;
    text-align: center;
    text-shadow:
        -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px 3px 0 #000,
        3px 3px 0 #000;
    line-height: 1.3;
    letter-spacing: .5rem;
    margin-bottom: auto;
    margin: auto 0;
    z-index: 2;
}


.button-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.lunarchat-maskot {
    position: fixed;
    top: 309px;
    right: 64px;
    width: 75px;
    z-index: 2;
    opacity: 0.9;
}

@media (min-width: 376px) and (max-width: 425px) {
    .lunarchat-maskot {
        top: 307px;
        right: 88px;
        width: 77px;;
    }
  }

@media (min-width: 426px) and (max-width: 768px) {
    .lunarchat-maskot {
        top: 304px;
        right: 258px;
        width: 80px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .lunarchat-maskot {
        top: 299px;
        right: 384px;
        width: 85px;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    .lunarchat-maskot {
        top: 347px;
        right: 592px;
        width: 85px;
    }
  }
  