.wall-messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }



.loading-lunisavtryck {
    font-family: var(--font-pixel);
    color: black;
    font-size: 12px;
    animation: fadeInOut 1.5s infinite ease-in-out;
    text-align: center;
    margin-top: 20px;
}  

@keyframes fadeInOut {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
}