.friends-wrapper {
    text-align: center;
    margin-bottom: 20px;
    height: 100vh;
}

.friends-title {
    font-family: var(--font-retro);
    color: var(--color-ocean-lunar);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.friends-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: normal;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
    padding: 10px;
}

.friends-card {
    background-color: white;
    border: 1px solid var(--color-ocean-lunar);
    width: 100%;
    margin-bottom: .3rem;
}

.friends-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.friends-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.friends-information {
    text-align: left;
}

.friends-username {
    color: black;
    font-family: var(--font-retro);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.friends-realname {
    font-size: 12px;
    color: gray;
}

.friends-since {
    font-size: 12px;
    color: black;
}

.friends-delete {
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.friends-delete:hover {
    color: var(--color-ocean-lunar);
}

.lunis-button {
    background-color: var(--color-ocean-lunar);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-josefine);
    cursor: pointer;
    margin-bottom: 1rem;
  }