.friends-wrapper {
    text-align: center;
    margin-bottom: 20px;
    height: 100vh;
}

.friends-title {
    font-family: var(--font-retro);
    color: var(--color-ocean-lunar);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.friends-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: normal;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 1rem;
    padding: 10px;
}

.friends-card {
    background-color: white;
    border: 1px solid var(--color-ocean-lunar);
    width: 100%;
    margin-bottom: .3rem;
}

.friends-image-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.friends-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.friends-information {
    text-align: left;
}

.friends-username {
    color: black;
    font-family: var(--font-retro);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.friends-realname {
    font-size: 12px;
    color: gray;
}

.friends-since {
    font-size: 12px;
    color: black;
}

.friends-delete {
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.friends-delete:hover {
    color: var(--color-ocean-lunar);
}

.lunis-button {
    background-color: var(--color-ocean-lunar);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-family: var(--font-josefine);
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.notification {
    position: relative;
    padding-right: 2rem;
}

.notification-wrapper {
    position: absolute;
    top: -6px;
    right: -6px;
}

.heart-notify {
    font-size: 32px;
    color: var(--color-sunset-lunar);
    animation: pulse 1.2s infinite;
    position: relative;
    z-index: 1;
}

.badge {
    font-family: var(--font-retro);
    position: absolute;
    top: -7px;
    right: -19px;
    background-color: white;
    color: var(--color-ocean-lunar);
    font-weight: bold;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.bi-heartbreak-fill {
    color: var(--color-sky-lunar);
}

.no-friends {
    color: var(--color-midnight-lunar);
    font-family: var(--font-retro);
    font-size: 12px;
}

.bi-emoji-frown-fill {
    color: var(--color-sky-lunar);
}

.popup-delete {
    background-color: var(--color-sunset-lunar);
    position: fixed;
    bottom: 150px;
    right: 20px;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: var(--font-josefine);
    z-index: 1000;
    animation: fade 3s ease-out forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}