.wall-container {
    width: 100%;
    min-height: 120px;
    background-color: white;
    border: 1px solid #000000;
    margin-bottom: 12px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.wall-container:last-child {
    margin-bottom: 200px;
}

.wall-content {
    background-color: var(--color-sky-lunar);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 8px;
}

.user-img {
    width: 40px;
    height: 40px;
  }

.wallpost-username {
    font-family: var(--font-retro);
    color: white;
    font-size: 16px;
    flex-grow: 1;
    text-align: left;
}

.wallpost-time {
    color: white;
    font-family: var(--font-pixel);
    font-size: 8px;
    padding: 5px;
}

.wallpost-message {
    width: 100%;
    font-family: var(--font-josefine);
    font-size: 16px;
    color: black;
    height: 30px;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}